$gray: #d0d6d9;
$darkgray: #999999;
$lighgray: #edf1f2;
$green: #29b078;
$white: #fff;
$snow: #e6e6e6;
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin colunm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  background-color: #fafafa;
}
.main-homepage-p {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3rem 0;
  span {
    font-size: 1.8rem;
    color: $green;
  }
}
// 第三页的背景图片
.bgi {
  width: 100%;
}
// 第三页左边
.main-left {
  @include colunm;
  background-color: $white;
  height: 90rem;
  box-shadow: 0 0 5px $snow;
  border-radius: 5px;
  padding: 0;
  > .top {
    @include center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 6rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1px solid $snow;
    // 下为左边圆点
  }
  > .bottom {
    @include colunm;
    align-items: center;
    > .roundness-wrap {
      display: flex;
      align-items: center;
      width: 9rem;
      height: 2rem;
      margin: 4rem 0 0 2rem;
      > .roundness {
        margin-right: 1rem;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        border: 0.1rem solid #ff7527;
      }
      .roundness-p {
        font-size: 1.4rem;
        color: $green;
      }
      &:hover .roundness {
        background-color: #f9a372;
      }
      &:hover .roundness-p {
        color: #f9a372;
      }
    }
  }
}
// 第三页右边
.main-right {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  box-shadow: 0 0 5px $snow;
  border-radius: 5px;
  padding: 0;
  margin-left: 3rem;
  margin-bottom: 23rem;
  max-width: 100%;
  min-width: 65%;
  flex-grow: 1;
  flex-basis: 230px;
}
// 右边上部分图片左浮动文字围绕
.m-r-t {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $snow;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  p {
    line-height: 3rem;
    margin-left: 10px;
    margin: 2.2rem 2rem 0;
    margin-right: 20px;
    margin-top: 2.2rem;
    font-size: 1.4rem;
    color: #999999;
  }
}
// 右边下部分
.m-r-b {
}
.m-r-b-p {
  line-height: 3rem;
  margin: 2.2rem 1.5rem;
  font-size: 1.4rem;
  color: #999999;
}
@media screen and (max-width: 768px) {
  .main-box {
    display: block;
  }
  .main-left {
    max-width: 100% !important;
    height: auto;
    margin-bottom: 5rem;
  }
  .main-left > .bottom {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .main-left > .bottom > .roundness-wrap {
    margin: 3rem;
  }
  .main-right {
    margin-left: 0;
    margin-bottom: 5rem;
  }
  .m-r-t {
    flex-direction: column;
    align-items: center;
  }

  .m-r-t p {
    margin-bottom: 2rem;
  }
  .icon-10 {
    margin: 1.5rem 0;
  }
  .m-r-b-p {
    margin: 2.2rem 1.5rem 0;
  }
}
