html {
  background-color: #fafafa;
}

.main-dirction, .main-dirction .direcsiton-p1-wrap, .main-dirction .direcsiton-p2-wrap {
  display: flex;
  align-items: center;
}

.main-homepage-p {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3rem 0;
  border-bottom: 1px solid #d0d6d9;
}

.main-homepage-p span {
  font-size: 1.8rem;
  color: #29b078;
}

.main-dirction {
  border-bottom: 1px solid #edf1f2;
  height: 6rem;
}

.main-dirction .direcsiton-p1-wrap .p1 {
  width: 4.2rem;
  font-size: 1.4rem;
  color: #999999;
}

.main-dirction .direcsiton-p2-wrap {
  flex-flow: wrap;
}

.main-dirction .direcsiton-p2-wrap .p2 {
  margin-left: 3.5rem;
  font-size: 1.4rem;
  color: black;
  cursor: pointer;
  width: 7rem;
  text-align: center;
}

.main-dirction .direcsiton-p2-wrap .p2:hover {
  background-color: #29b078;
  color: #fff;
}

.main-dirction .direcsiton-p2-wrap .p2-1 {
  width: 4rem;
}

.exploit {
  height: 8rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 1px solid #d0d6d9;
  margin-bottom: 5rem;
}

.border-right0 {
  border-right: 0;
}

.wd100 {
  width: 100%;
}

.wd40 {
  width: 40%;
}

.wd33 {
  max-width: 33%;
}

@media screen and (max-width: 1000px) {
  .w-100 {
    width: 0 !important;
  }
}

@media screen and (max-width: 720px) {
  .main-dirction {
    height: auto;
  }
  .main-dirction .direcsiton-p2-wrap .p2 {
    margin: 1rem 0 1rem 2rem;
  }
}

@media screen and (max-width: 350px) {
  .main-dirction .direcsiton-p2-wrap .p2 {
    margin: 1rem 0 1rem 1rem;
  }
}
