html, body {
    font-size: 62.5%;
    background-color: #fafafa;
}

span {
    display: inline-block;
    background: url(../img/task8/task8雪碧图-1.png) no-repeat;
}

.nav-p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff;
    height: 8.7rem;
    width: 12rem;
    margin: 0;
    padding: 0;
}

.main-icon-1 {
    height: 62px;
    width: 43px;
    background-position: 0 -115px;
}

.main-icon-2 {
    margin-top: 1.4rem;
    height: 48px;
    width: 60px;
    background-position: 0 -232px;
}

.main-icon-3 {
    margin-top: .7rem;
    height: 55px;
    width: 52px;
    background-position: 0 -177px;
}

.main-icon-4 {
    margin-top: 2.1rem;
    height: 13px;
    width: 13px;
    background-position: 0 0;
}

.main-icon-5 {
    margin-left: 3rem;
    height: 30px;
    width: 32px;
    background-position: 0 -85px;
}

.h-t-wrap {
    background-color: #ffffff;
}

.h-t-wrap .container {
    margin-top: 0;
}

.h-t {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 3rem;
   
}

.h-icon {
    padding: 0;
    display: flex;
    align-items: center;
}

.t-p {
    margin: 0;
    font-size: 1.4rem;
    color: #29b078;
}

.t-icon {
    display: flex;
}

.t-icon-1 {
    height: 24px;
    width: 25px;
    background-position: 0 -61px;
    margin-left: .5rem;
}

.t-icon-2 {
    margin-left: .5rem;
    height: 24px;
    width: 25px;
    background-position: 0 -37px;
}

.t-icon-3 {
    margin-left: .5rem;
    height: 24px;
    width: 25px;
    background-position: 0 -13px;
}

.h-green-wrap {
    background-color: #29b078;
    width: 100%;
}

.h-green {
    margin-top: 0!important;
    height: 10rem;
    background-color: #29b078
}

.navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-brand {
    padding: 0;
}

.nav-link {
    float: right;
}

.h-green-p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff;
    height: 7.5rem;
    width: 12rem;
    padding: 0;
}

@media screen and (min-width:768px) and (max-width:992px) {
    .h-green {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .h-green-p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        color: white;
        height: 1rem;
        width: 12rem;
        margin-top: 10px;
        margin-bottom: 0;
    }
    a {
        border: none;
    }
    a:hover {
        border-bottom: none;
    }
}

@media screen and (max-width:768px) {
    .h-green {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .h-green-p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: white;
        height: 1rem;
        width: 7.5rem;
        margin-top: 10px;
        margin-bottom: 0;
    }
    a:hover {
        border-bottom: none;
    }
}

.navbar-nav {
    align-items: center;
}

a {
    border-bottom: 0.3rem solid transparent;
    color: #ffffff;
    font-size: 1.6rem;
}

a:hover {
    color: #ffffff;
    border-bottom: 0.3rem solid #ffffff;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.row-text-1 {
    font-size: 1rem;
    color: #999999;
    height: 5.76rem;
}

.row-text-2 {
    font-size: 1rem;
    color: #999999;
}

.row-font-green {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    color: #26a26f;
}

.row-font-black {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: black;
}

.row-greed-icon-wrap {
    display: flex;
}

.row-greed-icon {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .row-greed-icon {
        width: 100%;
        min-width: 250px
    }
    .row-man-icon {
        border-style: none!important;
        min-width: 270px;
        ;
    }
}

.row-man-icon {
    text-align: center;
    border: .2rem;
    border-style: dashed;
    border-image: url(dashed.png) repeat;
    border-color: transparent transparent transparent #dedede;
}

.container {
    margin-top: 5rem;
}

.row-text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    margin: 3rem 0 3rem;
    font-size: 1.8rem;
}

.roundness {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 1.8rem;
    color: #29b078;
    border: .1rem solid #e9e8e9;
}

.row-text-4 {
    font-size: 1.4rem;
    color: #a3a3a3;
}

.row-text-5 {
    display: inline-block;
    color: #999999;
    padding-left: 0.6rem;
    ;
    width: 14rem;
    margin: 0;
    font-size: 1.2rem;
}

.row-none {
    visibility: hidden
}

.row-blank {
    width: 62px;
    height: 30px;
}

@media screen and (max-width:768px) {
    .row-roundness {
        justify-content: space-around;
    }
    .row-none {
        visibility: visible;
    }
}

.row-roundness {
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
}

@media screen and (min-width:1200px) and (max-width:1440px) {
    .row-roundness {
        display: flex;
        margin-left: 15rem;
        margin-right: 5rem;
        margin-bottom: 60px;
    }
    .row-none {
        visibility: visible;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .row-roundness {
        margin-left: 10rem;
    }
    .row-none {
        visibility: visible;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .row-roundness {
        margin-left: 5rem;
    }
    .row-none {
        visibility: visible;
    }
}

.row-head-wrap {
    padding: 30px 10px;

}

.row-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    margin: auto;
    background-color: #ffffff;
    border: .1rem solid #eeeded;
    
    max-width: 90%;
}

@media screen and (max-width:576px) {
    .row-head-wrap {
       width: 100%;
       flex-basis: 500px;
    }
    
}

.man-icon-1 {
    margin: 1rem 0 1rem;
    height: 108px;
    width: 108px;
    background-position: 0 -372px;
}

.man-icon-2 {
    margin: 1rem 0 1rem;
    height: 108px;
    width: 108px;
    background-position: 0 -696px;
}

.man-icon-3 {
    margin: 1rem 0 1rem;
    height: 108px;
    width: 108px;
    background-position: 0 -588px;
}

.man-icon-4 {
    margin: 1rem 0 1rem;
    height: 108px;
    width: 108px;
    background-position: 0 -480px;
}

.man-p-1 {
    margin: 1rem 0 1rem;
    font-size: 1.8rem;
    color: black;
}

.man-p-2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #999999;
}

.row-icon {
    margin: 1rem 0 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    border: .1rem solid #e9e8e9
}

.green {
    background-color: #29b078;
}

.main-icon-6 {
    height: 184px;
    width: 184px;
    background-position: 0 -997px;
}

.main-icon-7 {
    height: 137px;
    width: 237px;
    background-position: 0 -1372px;
}

.main-icon-8 {
    height: 69px;
    width: 134px;
    background-position: 0 -928px;
}

.main-icon-9 {
    height: 191px;
    width: 191px;
    background-position: 0 -1181px;
}

.main-icon-10 {
    height: 124px;
    width: 124px;
    background-position: 0 -804px;
}

.main-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: 0;
    height: 191px;
    margin-bottom: 5rem;
    padding: 0;
    border: .1rem solid transparent;
    margin: auto;
    max-width: 90%;
}

.icon-wrap {
    font-style: normal;
}

@media screen and (max-width:768px) {
    .icon-wrap .col {
        flex-basis: 30rem;
    }
}

.main-icon:hover {
    border: 1px solid #e6e6e6;
    z-index: 1;
    box-shadow: 2px 2px 4px #e6e6e6, 2px -2px 4px #e6e6e6, -2px 2px 4px #e6e6e6, -2px -2px 4px #e6e6e6;
}

.footer-top {
    width: 100%;
    background-color: white;
}

.footer-top-text {
    flex-direction: column;
    margin: auto;
    padding-bottom: 2.5rem;
}

.footer-top-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    flex-flow: column wrap;
}

.footer-top-roundness-wrap {
    display: flex;
    width: 75px;
    list-style: none;
    padding-bottom: 2px;
    color: #999999;
    border-bottom: .1rem solid;
    border-color: transparent;
}

@media screen and (min-width:768px) {
    .footer-top-text-box {
        flex-flow: nowrap;
    }
}

.footer-top-roundness-p {
    margin: 0;
    margin-left: 5px;
    color: #999999;
    font-size: 1rem;
}

.footer-top-roundness-wrap:hover {
    border-color: #32c086;
}

.footer-bottom {
    margin: auto;
    background-color: #26a26f;
}

.foot-icon {
    height: 92px;
    width: 92px;
    background-position: 0 -280px;
}

.footer-top-text>.col {
    padding: 0;
}

.footer-top-text li {
    font-size: 1rem;
    color: #a9a9a9;
}

@media screen and (max-width:768px) {
    .footer-bottom .col {
        padding: 0;
        min-width: 165px;
        flex-grow: none;
        max-width: none;
    }
}

@media screen and (max-width:520px) {
    .footer-bottom .col {
        min-width: 165px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .footer-top-roundness-wrap {}
}

@media screen and (max-width:481px) and (min-width:430px) {
    .footer-top-roundness-wrap {
        width: 70px;
    }
}

@media screen and (max-width:365px) {
    .footer-top-roundness-wrap {
        margin-left: -4px;
    }
}

@media screen and (max-width:600px) {
    .footer-top-text-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: 120px;
    }
}

.footer-bottom p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
}

.footer-bottom .container {
    margin: 0;
}

.footer-bottom .row {
    margin: auto;
}

.footer-btm-p {
    display: inline-block;
}

.footer-icon-wrap {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-btm-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid #32c086;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width:576px) {
    .footer-icon-wrap {
        float: left;
    }
}
.col-sm-5{
    padding: 0;
}
.col-sm-2{
    padding-left:10px;
    
}
ul {
    padding-left: 5px;
    margin: 0;
}

li:hover {
    text-decoration: underline;
    color: #32c086;
}